{% extends 'base.html' %}
{% load pagination_tags %}

{% block title %}
    <div class="header">
        <h2>{{ stop.name }}</h2>
        <a  href="{% url 'stop-list' %}"><span class='back symbol'>5</span></a>
    </div>
{% endblock title %}

{% block content %}


        {% autopaginate schedule_list 5 %}

    <table>
        <thead>
            <tr>
                <td><h3>Bus</h3></td>
                <td><h3>Time</h3></td>
                <td><h3>Direction</h3></td>
            </tr>
        </thead>
        <tbody>
        {% for sched in schedule_list %}
            <tr>
                <td><p>{{ sched.bus }}</p></td>
                <td><p>{{ sched.eta }}</p></td>
                <td><p>{{ sched.route.name }}</p></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% paginate %}

{% endblock content %}
