@font-face {
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeueMedium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arrows';
    src: url('SimpleDirectionArrows.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
    margin: 0px;
    font-family:  HelveticaNeue , Tahoma, serif;
    color: black;
    text-align: center;;
    max-height: 700px;
}

table{
    margin: auto;
    border-spacing: 0px;
}

tbody tr:nth-child(odd) {
  background-color: #87B3E0;
}

td {
    padding: 0px 8px;
}

.symbol {
    font-family: Arrows;
    color: white;
}

.back {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 17px;
    left: 15px;
}

.header {
    position: absolute;
    top: 0px;
    background-color: #2272BB;
    width: 100%;
    height: 80px;
    color: white;
}

.content {
    position: relative;
    top: 85px;
}

ul {
    list-style-type: none;
}
li {
    margin: auto;
    max-width: 250px;
    padding: 10px 8px;
}

li:nth-child(odd) {
  background-color: #87B3E0;
}

.bg-logo {
    position: absolute;
    top: 265px;
    left: -150px;
    background-image: url(logo.gif);
    background-repeat:  no-repeat;
    width: 600px;
    height: 300px;
    opacity: 0.4;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:link {color:none;}      /* unvisited link */
a:visited {color:none;}  /* visited link */
a:-webkit-any-link {color:black;}

/* Annimation bits*/

#annimation-text {
    position: absolute;
    top: 325px;
    left: 212px;
    color: white;
}

#annimation {
    background-color: #2272BB;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.box{
    position: absolute;
    left: 75px;
    top: 5px;
    text-align:center;
    width: 350px;
    height: 350px;
}

.spinclock{
    -webkit-animation: spinclock 3.5s  2 linear;
}

@-webkit-keyframes spinclock {from { -webkit-transform:  rotate(-360deg) translate(0px); }  to { -webkit-transform:  rotate(0deg) translate(0px); } }

.spinanti{
    -webkit-animation: spinanti 3.5s  2 linear;
}

@-webkit-keyframes spinanti {from { -webkit-transform:  rotate(360deg) translate(0px); }  to { -webkit-transform:  rotate(0deg) translate(0px); } }

img{
    max-width:100%;
    max-height:100%;
}


.fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;
}

.fadeIn-3s {
    -webkit-animation-duration:3s;
}

.fadeIn-5s {
    -webkit-animation-duration:5s;
}

.fadeIn-Delay-3s {
    -webkit-animation-delay:1s;
}

.fadeIn-Delay-5s {
    -webkit-animation-delay:3s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
