@font-face {
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeueMedium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arrows';
    src: url('SimpleDirectionArrows.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
    margin: 0px;
    font-family:  HelveticaNeue , Tahoma, serif;
    color: black;
    text-align: center;;
    max-height: 700px;
}

table{
    margin: auto;
    border-spacing: 0px;
}

tbody tr:nth-child(odd) {
  background-color: #2272BB;
}

td {
    padding: 4px 8px;
}

.symbol {
    font-family: Arrows;
    color: white;
}

.back {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 17px;
    left: 15px;
}

.header {
    position: absolute;
    top: 0px;
    background-color: #2272BB;
    width: 100%;
    height: 80px;
    color: white;
}

.content {
    position: relative;
    top: 85px;
}

ul {
    list-style-type: none;
}

.bg-logo {
    position: absolute;
    top: 265px;
    left: -150px;
    background-image: url(logo.gif);
    background-repeat:  no-repeat;
    width: 600px;
    height: 300px;
    opacity: 0.4;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:link {color:none;}      /* unvisited link */
a:visited {color:none;}  /* visited link */
a:-webkit-any-link {color:black;}

